@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Italiana&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Unica+One&display=swap');
body{
    margin: 0;
    background: #370D0D;
    color: #fff;
    font-family:Italiana;
}

.logo{
    display: flex;
    margin: 0;
    justify-self: center;
    align-items: center;
    gap: 20px;
}
.logo img[alt="pizza1"]{
    display:flow-root ;
    max-width:400px ;
    max-height: 400px;
    margin: 0;
    
    
}
.logo img[alt="logo"]{
    max-width: 690px;
    max-height: 386px;
    margin: 0;
    
}
.logo img[alt="pizza2"]{
    display: flow-root;
    max-width: 400px;
    max-height: 400px;
    margin: 0;

}


.informacao{
    display: flex;
    margin: 0;
    justify-self: center;
    align-items: center;
}
.informacao img[alt="telefone"]{
    width: 25px;
    height: 25px;
}
.informacao img[alt="imagens"]{
    padding-left: 10px;
    width: 30px;
    height: 30px;
}
.telemensagem{
    text-decoration: none; 
    color: inherit;        
    font-weight: bold;
    font-size: 22px;
}
.telemensagem:hover{
    color: #3a3c9a;
}
.what{
    text-decoration: none; 
    color: inherit;        
    font-weight: bold;
    font-size: 22px;
}
.what:hover{
    color: #3a3c9a;
}

.text p{
    padding-top: 7px;
    margin: 0;
    text-align: center;
    font-size: 22px;
    padding-bottom: 40px;
}

.imagem{

    margin: 0;
    justify-self: center;
    align-items: center;
}
.imagem img[alt="doce"]{
    max-width: 100%;
    margin: 0;
    
}


.apresentacao{
    padding-top: 40px;
    padding-bottom: 40px;
}
.quadrado{
    justify-self: center;
    background: #D9D9D9;
    width: 1000px;
    height: 365px;
}
.quadrado h2{
    margin: 0;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
    color: black;
    font-size: 36px;
    font-family: Inter;
}
.quadrado p{
    margin: 0;
    padding-left: 40px;
    padding-right: 40px;
    color: #000;
    font-family: Inter;
    font-size: 20px;
    text-align: justify;
    text-indent: 50px; 
}
.mudarinformacao{
    width: 100%;
    height: 50px;
    background: #C62828;
}
.primeiroSabor{
   padding-top: 20px;
   margin: 0;
   justify-self: center;
}
.tradicionais{
    background: #D9D9D9;
    width: 1400px;
    height: 550px;
}
.tradicionais h2{
    padding-top: 40px;
    padding-left:150px;
    color: #000;
    font-size:64px;
}
.pizza-tradicionais{
    display: flex;
}